hr {
  margin: 30px 5px;
  border-top: 1px  hsl(215, 32%, 27%);
}

p {
  color: hsl(215, 51%, 70%);
}

h2 {
  color: white;
}

h4 {
  color: hsl(178, 100%, 50%);
}

body {

  font-family: 'Outfit', sans-serif;
  background-color: white;
  padding: 3% 15%;
  background-color: hsl(217, 54%, 11%);
}

.copywrite {
  color: hsl(215, 51%, 70%);
}

.element {
  color: hsl(215, 51%, 70%);
  margin: 60px;
}

.by {
  color: white;
}

.img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.Product-outline {
  width: 300px;
  height: 550px;
  background-color: hsl(216, 50%, 16%);
  padding: 3% 4%;
  border-radius: 20px;
  position: relative;
  margin-left: 30%;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  float: left;
}

.pricing {
  color: hsl(178, 100%, 50%);
}
